openapi: 3.1.0
info:
  title: KeyBank Commercial Banking APIs
  description: |
    REST endpoints from the KeyBank Commercial APIs published on the KeyBank
    Developer Portal at https://developer.key.com/. Initial coverage focuses on
    the Commercial Accounts Reporting API; additional product areas (ACH,
    wires, RTP, account validation) follow the same authentication and request
    conventions but require partner credentials and access.
  version: "1.0.0"
  contact:
    name: KeyBank Developer Portal
    url: https://developer.key.com/
servers:
  - url: https://partner-api-qv.key.com
    description: KeyBank partner API host (sandbox + production controlled by issued credentials).
security:
  - BearerAuth: []
tags:
  - name: Accounts
    description: Commercial account information and transaction reporting.
paths:
  /commercial/accounts/v1/list:
    get:
      tags: [Accounts]
      summary: List commercial payment accounts
      operationId: listCommercialAccounts
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/InteractionId'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: pageKey
          in: query
          required: false
          schema:
            type: string
        - name: balanceAsOf
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: A page of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /commercial/accounts/v1/{accountId}:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
    get:
      tags: [Accounts]
      summary: Get full details about an account
      operationId: getCommercialAccount
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/InteractionId'
        - name: balanceAsOf
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Account not found.
  /commercial/accounts/v1/{accountId}/transactions/previous:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
    get:
      tags: [Accounts]
      summary: Search historical transactions (up to 180 days)
      operationId: listPreviousTransactions
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/InteractionId'
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: pageKey
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A page of historical transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /commercial/v1/accounts/{accountId}/transactions/current:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
    get:
      tags: [Accounts]
      summary: Search current-day transactions
      operationId: listCurrentDayTransactions
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/InteractionId'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: pageKey
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A page of current-day transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Bearer token issued by KeyBank's OAuth flow for partner applications.
        Example: `Authorization: Bearer testZcKJDWnwDWmmf9qah6PJvPy8`.
  parameters:
    AccountIdPath:
      name: accountId
      in: path
      required: true
      schema:
        type: string
    AcceptHeader:
      name: Accept
      in: header
      required: false
      schema:
        type: string
        default: application/json
    AcceptCharset:
      name: Accept-Charset
      in: header
      required: false
      schema:
        type: string
        default: UTF-8
    UserAgent:
      name: User-Agent
      in: header
      required: false
      schema:
        type: string
    InteractionId:
      name: x-fapi-interaction-id
      in: header
      required: true
      description: 36-character UUID identifying the API interaction for traceability.
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              error_description:
                type: string
  schemas:
    Account:
      type: object
      properties:
        accountId:
          type: string
        accountNumber:
          type: string
        accountType:
          type: string
        currency:
          type: string
        nickname:
          type: string
        balances:
          type: object
          properties:
            ledger:
              type: number
            available:
              type: number
            asOf:
              type: string
              format: date-time
    AccountList:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        pageKey:
          type: string
        totalCount:
          type: integer
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        postedDate:
          type: string
          format: date-time
        amount:
          type: number
        currency:
          type: string
        description:
          type: string
        type:
          type: string
        debitCredit:
          type: string
          enum: [DEBIT, CREDIT]
        runningBalance:
          type: number
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pageKey:
          type: string
        totalCount:
          type: integer
