openapi: 3.2.0
info:
  title: ACH Origination ACH Payment Origination API
  description: Use the ACH Origination API to submit a payment. This API is more than a single action. With the ACH Origination API, you can submit a payment, check on its status, and undo a request.
  contact:
    name: KeyBank Developer Support
    email: developers@keybank.com
  version: 1.3.4
servers:
- url: https://partner-api-qv.key.com
- url: https://partner-api.key.com
security:
- bearerAuth: []
tags:
- name: ACH Payment Origination
paths:
  /ach/payments/v1/ccd:
    post:
      tags:
      - ACH Payment Origination
      summary: Send or collect a payment
      description: Make or collect payments to a corporate account. This call originates an ACH transaction for SEC code CCD (Corporate Credit or Debit). Use this request to send or collect cash, debit, or credit transactions between the buyer and seller financial institution accounts. This can also be used by companies to move funds and deposit to a central bank account.
      operationId: achPaymentCCD
      security:
      - bearerAuth: []
      requestBody:
        description: Contains mandatory parameters for initiating a ACH payment request for CCD.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchRequestEnvelopeBatchRequestCCDDetailRequest'
            example:
              batch:
                collectionApplicationId: TEST
                point: APITEST1
                secCode: CCD
                uuid: daily001-qas230109-010300-005
                collectionApplicationType: ''
                effectiveDate: '230211'
                companyDescriptiveDate: '230211'
                companyEntryDescription: Payroll
                details:
                - DFIAccountNumber: '123456'
                  accountType: C
                  amount: '0.01'
                  checkDigit: '9'
                  creditDebitCode: C
                  receivingCompanyName: ProdTest001
                  receivingDFIId: '04100103'
                  transactionType: L
                  uuid: daily001-qas230109-010301-0026
                  identificationNumber: 099999999a
                  discretionaryData: AB
                  addenda:
                  - paymentRelatedInformation: DAILYTEST0103A
        required: true
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResponseEnvelopeAccepted'
              example:
                batch:
                  uuid: daily001-qas230109-010300-005
                  status: accepted
                  requestAcceptedUTCTime: '2023-05-03T17:04:03Z'
                  effectiveDate: '230211'
                  informationMessages:
                  - code: 1006040-65I
                    moreInfo: Effective date assigned 230211.
                  errorMessages: []
                  details:
                  - uuid: daily001-qas230109-010301-0026
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: '041001030013025'
                    requestAcceptedUTCTime: '2023-05-03T17:04:03Z'
        '400':
          description: Missing mandatory information
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Mandatory data not provided, please verify the data and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '401':
          description: Unauthorized request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Received request is unauthorized, please provide valid credentials
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '403':
          description: Forbidden request access
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Access to requested resource is forbidden
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '404':
          description: Resource not found
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested resource is not found, please verify the resource then resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '405':
          description: Invalid request method
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested method is not allowed, please verify the method and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '415':
          description: Invalid request type
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested media type is not allowed, please verify the media type and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '429':
          description: Request timeout
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Number requests threshold reached, please resubmit the request after sometime
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '500':
          description: Unknown error
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Runtime error occurred in the service, please check with application support team before resubmitting the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
        '502':
          description: Bad gateway
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                TransactionTime: '2021-06-11T16:31:34.041Z'
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                Api-Url: /ach/payments/v1/ccd
                ServiceError:
                  ConnectError: Connectivity error occurred with the downstream service (Unexpected EOF at target), please check with application support team before resubmitting the request
        '503':
          description: Unavailable service
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
                ServiceError:
                  ConnectError: Service is currently unavailable (NoActiveTargets), please check with application support before resubmitting the request.
        '504':
          description: Unable to process request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ccd
                ServiceError:
                  ConnectError: Please verify your payment status UUID and send the request again. The request could not be processed on time (GatewayTimeout).
  /ach/payments/v1/ctx:
    post:
      tags:
      - ACH Payment Origination
      summary: Make or collect payments to or from a corporate account with attached records
      description: Submit or collect a payment from one business/entity to another.  This call originates an ACH transaction for SEC code CTX (Corporate Trade Exchange). Use this request to send or collect an electronic payment with remittance information.
      operationId: achPaymentCTX
      security:
      - bearerAuth: []
      requestBody:
        description: Contains mandatory parameters for initiating a ACH payment request for CTX.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchRequestEnvelopeBatchRequestCTXDetailRequest'
            example:
              batch:
                collectionApplicationId: TEST2
                point: APITEST1
                secCode: CTX
                uuid: test3c377-bat338-ctxf-bcd6fehdd0-031103
                collectionApplicationType: ''
                effectiveDate: '230411'
                companyDescriptiveDate: '230411'
                companyEntryDescription: Payroll
                details:
                - DFIAccountNumber: '111011'
                  accountType: S
                  checkDigit: '0'
                  creditDebitCode: C
                  numberOfAddendaRecords: '1'
                  receivingCompanyNameIDNumber: YourTest301
                  receivingDFIId: '06100001'
                  totalAmount: '1.31'
                  transactionType: L
                  uuid: test3c377-det338-ctxf-dcd6fehdd0-030104
                  identificationNumber: 099999999
                  discretionaryData: AK
                  addenda:
                  - paymentRelatedInformation: YourTest03.01
        required: true
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResponseEnvelopeAccepted'
              example:
                batch:
                  uuid: test3c377-bat338-ctxf-bcd6fehdd0-031103
                  status: accepted
                  requestAcceptedUTCTime: '2023-05-03T17:06:02Z'
                  effectiveDate: '230411'
                  informationMessages:
                  - code: 1006040-65I
                    moreInfo: Effective date assigned 230411.
                  errorMessages: []
                  details:
                  - uuid: test3c377-det338-ctxf-dcd6fehdd0-030104
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: '041001030013026'
                    requestAcceptedUTCTime: '2023-05-03T17:06:02Z'
        '400':
          description: Missing mandatory information
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Mandatory data not provided, please verify the data and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '401':
          description: Unauthorized request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Received request is unauthorized, please provide valid credentials
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '403':
          description: Forbidden request access
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Access to requested resource is forbidden
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '404':
          description: Resource not found
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested resource is not found, please verify the resource then resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '405':
          description: Invalid request method
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested method is not allowed, please verify the method and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '415':
          description: Invalid request type
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested media type is not allowed, please verify the media type and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '429':
          description: Request timeout
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Number requests threshold reached, please resubmit the request after sometime
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '500':
          description: Unknown error
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Runtime error occurred in the service, please check with application support team before resubmitting the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
        '502':
          description: Bad gateway
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                TransactionTime: '2021-06-11T16:31:34.041Z'
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                Api-Url: /ach/payments/v1/ctx
                ServiceError:
                  ConnectError: Connectivity error occurred with the downstream service (Unexpected EOF at target), please check with application support team before resubmitting the request
        '503':
          description: Unavailable service
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
                ServiceError:
                  ConnectError: Service is currently unavailable (NoActiveTargets), please check with application support before resubmitting the request.
        '504':
          description: Unable to process request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A universal ID to trace the transaction across all the systems involved, useful for system logging and identification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ctx
                ServiceError:
                  ConnectError: Please verify your payment status UUID and send the request again. The request could not be processed on time (GatewayTimeout).
  /ach/payments/v1/ppd:
    post:
      tags:
      - ACH Payment Origination
      summary: Make deposits and withdrawals to or from consumer accounts
      description: Submit or collect a payment based on consumer authorization and terms of service. This call originates an ACH transaction for SEC code PPD (Prearranged Payments and Debits). Use this request to send or collect a routine electronic payment, like a subscription or monthly payment plan.
      operationId: achPaymentPPD
      security:
      - bearerAuth: []
      requestBody:
        description: Contains mandatory parameters for initiating a ACH payment request for PPD.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchRequestEnvelopeBatchRequestPPDDetailRequest'
            example:
              batch:
                collectionApplicationId: TEST
                point: APITEST1
                secCode: PPD
                uuid: qas22517-4d3338-4c6f-bcd6fehdd0-1234360
                collectionApplicationType: ''
                effectiveDate: '230211'
                companyDescriptiveDate: '230211'
                companyEntryDescription: Payroll
                details:
                - DFIAccountNumber: '123456789'
                  accountType: S
                  amount: '520.25'
                  checkDigit: '9'
                  creditDebitCode: C
                  individualName: QASTest005
                  receivingDFIId: '04100103'
                  transactionType: L
                  uuid: qas220330A-49eb-47664-b94rhd1-12361
                  individualIdentificationNumber: 099999999a
                  discretionaryData: AB
                  addenda:
                  - paymentRelatedInformation: QASTest02.02A
                - DFIAccountNumber: '234567891'
                  accountType: S
                  amount: '0.00'
                  checkDigit: '2'
                  creditDebitCode: C
                  individualName: QASTest006
                  receivingDFIId: '24107121'
                  transactionType: P
                  uuid: qas220330A-49eb-47664-b94rhd1-12362
                  individualIdentificationNumber: 099999999b
                  discretionaryData: BC
                - DFIAccountNumber: '345678912'
                  accountType: S
                  amount: '1794.91'
                  checkDigit: '2'
                  creditDebitCode: D
                  individualName: QASTest006
                  receivingDFIId: '24107121'
                  transactionType: L
                  uuid: qas220330A-49eb-47664-b94rhd1-12363
                  individualIdentificationNumber: 099999999c
                  discretionaryData: BC
                  addenda:
                  - paymentRelatedInformation: QASTest02.02C
        required: true
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResponseEnvelopeAccepted'
              example:
                batch:
                  uuid: qas22517-4d3338-4c6f-bcd6fehdd0-1234360
                  status: accepted
                  requestAcceptedUTCTime: '2023-05-03T17:08:45Z'
                  effectiveDate: '230211'
                  informationMessages:
                  - code: 1006040-65I
                    moreInfo: Effective date assigned 230211.
                  errorMessages: []
                  details:
                  - uuid: qas220330A-49eb-47664-b94rhd1-12361
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: 041001030012784
                    requestAcceptedUTCTime: '2023-05-03T17:08:45Z'
                  - uuid: qas220330A-49eb-47664-b94rhd1-12362
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: 041001030012785
                    requestAcceptedUTCTime: '2023-05-03T17:08:45Z'
                  - uuid: qas220330A-49eb-47664-b94rhd1-12363
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: 041001030012786
                    requestAcceptedUTCTime: '2023-05-03T17:08:45Z'
        '400':
          description: Missing mandatory information
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Mandatory data not provided, please verify the data and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '401':
          description: Unauthorized request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Received request is unauthorized, please provide valid credentials
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '403':
          description: Forbidden request access
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Access to requested resource is forbidden
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '404':
          description: Resource not found
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested resource is not found, please verify the resource then resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '405':
          description: Invalid request method
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested method is not allowed, please verify the method and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '415':
          description: Invalid request type
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested media type is not allowed, please verify the media type and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '429':
          description: Request timeout
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Number requests threshold reached, please resubmit the request after sometime
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '500':
          description: Unknown error
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Runtime error occurred in the service, please check with application support team before resubmitting the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
        '502':
          description: Bad gateway
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                TransactionTime: '2021-06-11T16:31:34.041Z'
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                Api-Url: /ach/payments/v1/ppd
                ServiceError:
                  ConnectError: Connectivity error occurred with the downstream service (Unexpected EOF at target), please check with application support team before resubmitting the request
        '503':
          description: Unavailable service
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
                ServiceError:
                  ConnectError: Service is currently unavailable (NoActiveTargets), please check with application support before resubmitting the request.
        '504':
          description: Unable to process request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/ppd
                ServiceError:
                  ConnectError: Please verify your payment status UUID and send the request again. The request could not be processed on time (GatewayTimeout).
  /ach/payments/v1/tel:
    post:
      tags:
      - ACH Payment Origination
      summary: Send a payment over the phone
      description: Authorize and submit a payment by the phone.
      operationId: achPaymentTEL
      security:
      - bearerAuth: []
      requestBody:
        description: Contains mandatory parameters for initiating a ACH payment request for TEL.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchRequestEnvelopeBatchRequestTELDetailRequest'
            example:
              batch:
                collectionApplicationId: TEST
                point: APITEST1
                secCode: TEL
                uuid: qas22523-4d3338-4c6f-bcd6fehdd0-12349
                collectionApplicationType: ''
                effectiveDate: '230211'
                companyDescriptiveDate: '230211'
                companyEntryDescription: Payroll
                details:
                - DFIAccountNumber: '1234567890123452'
                  accountType: C
                  amount: '5963.88'
                  checkDigit: '0'
                  creditDebitCode: D
                  individualName: QASTest014
                  receivingDFIId: '06100001'
                  transactionType: L
                  uuid: qas22523-f76-44eb-a7014041047
                  individualIdentificationNumber: 099999999
                  paymentTypeCode: R
        required: true
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResponseEnvelopeAccepted'
              example:
                batch:
                  uuid: qas22523-4d3338-4c6f-bcd6fehdd0-12349
                  status: accepted
                  requestAcceptedUTCTime: '2023-05-03T17:10:58Z'
                  effectiveDate: '230211'
                  informationMessages:
                  - code: 1006040-65I
                    moreInfo: Effective date assigned 230211.
                  errorMessages: []
                  details:
                  - uuid: qas22523-f76-44eb-a7014041047
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: '041001030013030'
                    requestAcceptedUTCTime: '2023-05-03T17:10:58Z'
        '400':
          description: Missing mandatory information
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Mandatory data not provided, please verify the data and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '401':
          description: Unauthorized request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Received request is unauthorized, please provide valid credentials
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '403':
          description: Forbidden request access
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Access to requested resource is forbidden
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '404':
          description: Resource not found
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested resource is not found, please verify the resource then resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '405':
          description: Invalid request method
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested method is not allowed, please verify the method and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '415':
          description: Invalid request type
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested media type is not allowed, please verify the media type and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '429':
          description: Request timeout
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Number requests threshold reached, please resubmit the request after sometime
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '500':
          description: Unknown error
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Runtime error occurred in the service, please check with application support team before resubmitting the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
        '502':
          description: Bad gateway
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                TransactionTime: '2021-06-11T16:31:34.041Z'
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                Api-Url: /ach/payments/v1/tel
                ServiceError:
                  ConnectError: Connectivity error occurred with the downstream service (Unexpected EOF at target), please check with application support team before resubmitting the request
        '503':
          description: Unavailable service
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
                ServiceError:
                  ConnectError: Service is currently unavailable (NoActiveTargets), please check with application support before resubmitting the request.
        '504':
          description: Unable to process request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/tel
                ServiceError:
                  ConnectError: Please verify your payment status UUID and send the request again. The request could not be processed on time (GatewayTimeout).
  /ach/payments/v1/web:
    post:
      tags:
      - ACH Payment Origination
      summary: Send an online payment
      description: Authorize and submit a payment on a website.
      operationId: achPaymentWEB
      security:
      - bearerAuth: []
      requestBody:
        description: Contains mandatory parameters for initiating a ACH payment request for WEB.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batchRequestEnvelopeBatchRequestWEBDetailRequest'
            example:
              batch:
                collectionApplicationId: TEST
                point: APITEST1
                secCode: WEB
                uuid: qas22523-4d3338-4c6f-bcd6fehdd0-41033
                collectionApplicationType: ''
                effectiveDate: '230211'
                companyDescriptiveDate: ''
                companyEntryDescription: Payroll
                details:
                - DFIAccountNumber: '123546789'
                  accountType: C
                  amount: '0.00'
                  checkDigit: '0'
                  creditDebitCode: D
                  individualName: QASTest014
                  receivingDFIId: '06100001'
                  transactionType: P
                  uuid: qas22523-f76-44eb-a7014041034
                  individualIdentificationNumber: 099999999
                  paymentTypeCode: R
                  addenda:
                  - paymentRelatedInformation: DAILYTEST0103A
        required: true
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResponseEnvelopeAccepted'
              example:
                batch:
                  uuid: qas22523-4d3338-4c6f-bcd6fehdd0-41033
                  status: accepted
                  requestAcceptedUTCTime: '2023-05-03T17:13:45Z'
                  effectiveDate: '230211'
                  informationMessages:
                  - code: 1006040-65I
                    moreInfo: Effective date assigned 230211.
                  errorMessages: []
                  details:
                  - uuid: qas22523-f76-44eb-a7014041034
                    status: accepted
                    errorMessages: []
                    informationMessages: []
                    traceNumber: 041001030012787
                    requestAcceptedUTCTime: '2023-05-03T17:13:45Z'
        '400':
          description: Missing mandatory information
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Mandatory data not provided, please verify the data and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '401':
          description: Unauthorized request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Received request is unauthorized, please provide valid credentials
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '403':
          description: Forbidden request access
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Access to requested resource is forbidden
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '404':
          description: Resource not found
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested resource is not found, please verify the resource then resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '405':
          description: Invalid request method
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested method is not allowed, please verify the method and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '415':
          description: Invalid request type
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested media type is not allowed, please verify the media type and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '429':
          description: Request timeout
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Number requests threshold reached, please resubmit the request after sometime
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '500':
          description: Unknown error
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Runtime error occurred in the service, please check with application support team before resubmitting the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
        '502':
          description: Bad gateway
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                TransactionTime: '2021-06-11T16:31:34.041Z'
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                Api-Url: /ach/payments/v1/web
                ServiceError:
                  ConnectError: Connectivity error occurred with the downstream service (Unexpected EOF at target), please check with application support team before resubmitting the request
        '503':
          description: Unavailable service
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
                ServiceError:
                  ConnectError: Service is currently unavailable (NoActiveTargets), please check with application support before resubmitting the request.
        '504':
          description: Unable to process request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/web
                ServiceError:
                  ConnectError: Please verify your payment status UUID and send the request again. The request could not be processed on time (GatewayTimeout).
  /ach/payments/v1/addenda:
    post:
      tags:
      - ACH Payment Origination
      summary: Send additional addenda information
      description: Add records to an existing ACH transaction.
      operationId: achPaymentAddenda
      security:
      - bearerAuth: []
      requestBody:
        description: AddendaRequestEnvelope having mandatory parameters for initiating ACH Payment request for Addenda.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addendaRequestEnvelope'
            example:
              addenda:
              - paymentRelatedInformation: 0410*820412***PER*AP*QAS TESTING*IT*N1*PR*THE QAS COMPANY*         0
                addendaSequenceNumber: '002'
              - paymentRelatedInformation: 3*ROUTE 1234*BOX 1234\N5*TESTING*
                addendaSequenceNumber: '003'
              - paymentRelatedInformation: TM*003*820311\RMT*IV*0302892**252640\DTM*003*820315\RMT*IV*0302960**593835\
                addendaSequenceNumber: '004'
              uuid: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        required: true
      responses:
        200:
          description: Successfully staged ACH file data into ACH Origination API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptedAddendaResponseEnvelope'
              example:
                uuid: qas220517x-49eb-47664-b94rhd1-e52e2re13001
                status: accepted
                traceNumber: '41001030008011'
                informationMessages:
                - code: 1002040-50II
                  moreInfo: All addenda have been received.
                errorMessages: []
                addenda:
                - status: accepted
                  errorMessages: []
                  informationMessages: []
                requestAcceptedUTCTime: '2022-05-25T16:33:46Z'
        '400':
          description: Missing mandatory information
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Mandatory data not provided, please verify the data and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '401':
          description: Unauthorized request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Received request is unauthorized, please provide valid credentials
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '403':
          description: Forbidden request access
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Access to requested resource is forbidden
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '404':
          description: Resource not found
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested resource is not found, please verify the resource then resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '405':
          description: Invalid request method
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested method is not allowed, please verify the method and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '415':
          description: Invalid request type
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Requested media type is not allowed, please verify the media type and resubmit the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '429':
          description: Request timeout
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Number requests threshold reached, please resubmit the request after sometime
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '500':
          description: Unknown error
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Runtime error occurred in the service, please check with application support team before resubmitting the request
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
        '502':
          description: Bad gateway
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                TransactionTime: '2021-06-11T16:31:34.041Z'
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                Api-Url: /ach/payments/v1/addenda
                ServiceError:
                  ConnectError: Connectivity error occurred with the downstream service (Unexpected EOF at target), please check with application support team before resubmitting the request
        '503':
          description: Unavailable service
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
                ServiceError:
                  ConnectError: Service is currently unavailable (NoActiveTargets), please check with application support before resubmitting the request.
        '504':
          description: Unable to process request
          headers:
            X-CorrelationId:
              schema:
                type: string
              description: A unique identifier generated for each transaction that remains with the transaction through the chain of API operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exception'
              example:
                ErrorMessage: Error received from backend
                TransactionId: rrt-7709400285867417207-b-gce-27587-2383364-1
                X-CorrelationId: 929618f2-6163-bf73-51b0-6c54a8533c74
                TransactionTime: '2021-06-11T16:31:34.041Z'
                Api-Url: /ach/payments/v1/addenda
                ServiceError:
                  ConnectError: Please verify your payment status UUID and send the request again. The request could not be processed on time (GatewayTimeout).
components:
  schemas:
    batchResponseEnvelopeAccepted:
      required:
      - batch
      type: object
      description: Contains information for a successful ACH transaction.
      properties:
        batch:
          $ref: '#/components/schemas/acceptedBatchResponseAcceptedDetailResponse'
    addendaResponse:
      type: object
      description: Contains status and additional information about the returned addenda records.
      properties:
        status:
          type: string
          description: The overall status of the addenda request can be accepted or rejected.
          example: accepted
        errorMessages:
          type: array
          description: List of error messages.
          items:
            $ref: '#/components/schemas/detailMessage'
        informationMessages:
          type: array
          description: List of informational messages.
          items:
            $ref: '#/components/schemas/detailMessage'
    cCDDetailRequest:
      required:
      - DFIAccountNumber
      - accountType
      - amount
      - checkDigit
      - creditDebitCode
      - receivingCompanyName
      - receivingDFIId
      - transactionType
      - uuid
      type: object
      description: Parameters for additional details about the CCD request.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        accountType:
          type: string
          description: 'The account type can be checking (C) or savings (S). Valid values: C, S.'
          enum:
          - C
          - S
        creditDebitCode:
          type: string
          description: 'One-character field indicates if the ACH transaction is a credit (C) or debit (D). Valid values: C, D.'
          enum:
          - C
          - D
        transactionType:
          type: string
          description: 'Nacha-defined transaction types can be live (L), prenote (P), or zero (Z). Valid values: L, P, Z.'
          enum:
          - L
          - P
          - Z
        receivingDFIId:
          type: string
          description: The bank routing number (ABA number) of the receiving designated financial institution. The number can be a maximum of 8 digits.
          maxLength: 8
        checkDigit:
          type: string
          description: The final character of a routing number that can be used to validate a specific routing number. This is a single digit.
          maxLength: 1
        DFIAccountNumber:
          type: string
          description: The recipient account number at the designated financial institution. The account number can be a maximum of 17 characters.
          maxLength: 17
        amount:
          type: string
          description: The transaction amount in valid currency format. The amount can have up to 8 digits before the decimal and 2 digits after the decimal.
          maxLength: 11
        identificationNumber:
          type: string
          description: Identification number for the detail record. The number cannot exceed 15 characters.
          maxLength: 15
        receivingCompanyName:
          type: string
          description: The name of the receiving company. The name cannot exceed a maximum of 22 characters.
          maxLength: 22
        discretionaryData:
          type: string
          description: Further identification of the company or used to describe the type of entries being processed. The ID can be a maximum of 2 characters.
          maxLength: 2
        addenda:
          type: array
          maxItems: 1
          description: List of addenda records.
          items:
            $ref: '#/components/schemas/baseAddendaRequest'
      example:
        DFIAccountNumber: '123456789'
        accountType: C
        amount: '0.01'
        checkDigit: '9'
        creditDebitCode: C
        receivingCompanyName: ProdTest001
        receivingDFIId: '04100103'
        transactionType: L
        uuid: qas220517x-49eb-47664-b94rhd1-e52e2re11001
        identificationNumber: 517220101A
        discretionaryData: AB
    addendaRequest:
      required:
      - addendaSequenceNumber
      - paymentRelatedInformation
      type: object
      description: Contains related payment information and the addenda record sequence number.
      properties:
        paymentRelatedInformation:
          type: string
          description: The related payment information for the addenda records. The limit is 80 characters.
          maxLength: 80
          example:
            paymentRelatedInformation: 0410*820412***PER*AP*DAN HAMPTONE*IT*N1*PR*THE COMPANY    OF PUERTO RICO*         0
        addendaSequenceNumber:
          type: string
          description: The sequence number of the addenda. The number cannot exceed 4 digits.
          example: '003'
    acceptedBatchResponseAcceptedDetailResponse:
      required:
      - uuid
      - status
      type: object
      description: Contains response details for accepted ACH transactions.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        status:
          type: string
          description: The status of the batch can be accepted or rejected.
          example: accepted
        requestAcceptedUTCTime:
          type: string
          description: 'The date and time the request was accepted in UTC time. Format: YYYY-MM-DDTHH:MM:SSZ'
          example: '2022-05-25T16:33:46Z'
        effectiveDate:
          type: string
          description: 'The date the transaction is posted. This date must be within 31 days of the current date. Format: YYMMDD'
          example: '220411'
        informationMessages:
          type: array
          description: List of informational messages.
          items:
            $ref: '#/components/schemas/detailMessage'
        errorMessages:
          type: array
          description: List of error messages.
          items:
            $ref: '#/components/schemas/detailMessage'
        details:
          type: array
          description: Details for the ACH transaction by UUID.
          items:
            $ref: '#/components/schemas/acceptedDetailResponse'
    batchRequestCTXDetailRequest:
      required:
      - collectionApplicationId
      - point
      - secCode
      - uuid
      - companyEntryDescription
      type: object
      description: Contains batch request details for a CTX transaction.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        point:
          type: string
          description: A short name specific to your company provided by KeyBank. This is included in the file name and improves security  for file transfers.
          maxLength: 9
        collectionApplicationId:
          type: string
          description: This ID is provided by KeyBank and cannot exceed the maximum of 9 alphanumeric characters.
          maxLength: 9
        collectionApplicationType:
          type: string
          description: A subset of the collection application parameters. This is not commonly used and by default, left blank. If there is a collection application type, the value is provided by KeyBank during onboarding and cannot exceed 6 characters.
          maxLength: 6
        secCode:
          type: string
          description: 'The three-digit Standard Entry Class code based on Nacha rules. Valid values: CCD, CTX, PPD, TEL, WEB.'
          maxLength: 3
        effectiveDate:
          type: string
          description: 'The date the transaction is posted. This date must be within 31 days of the current date. Format: YYMMDD'
          maxLength: 6
        companyDescriptiveDate:
          type: string
          description: 'Company descriptive date. Format: YYMMDD'
        companyEntryDescription:
          type: string
          description: 'Provides the receiver a description of the payment purpose. The value cannot exceed 10 characters and cannot be blank. Possible values: ''REVERSAL'', ''RETURN FEE'', ''RECLAIM'', ''REDEPCHECK'' for RCK entries, ''HCCLAIMPMT'' for Health Care EFTs, or ''ACCTVERIFY'' for clients sending in a micro-entry as a type of ACH entry.'
        details:
          type: array
          description: List of detail records.
          items:
            $ref: '#/components/schemas/cTXDetailRequest'
      example:
        collectionApplicationId: TESTING
        point: APITEST
        secCode: CCD
        uuid: qas22517-4d3338-4c6f-bcd6fehdd0-11000
        collectionApplicationType: ''
        effectiveDate: '220725'
        companyDescriptiveDate: '220725'
        companyEntryDescription: Payroll
        details:
          DFIAccountNumber: '123456789'
          accountType: C
          amount: '0.01'
          checkDigit: '9'
          creditDebitCode: C
          receivingCompanyName: ProdTest001
          receivingDFIId: '04100103'
          transactionType: L
          uuid: qas220517x-49eb-47664-b94rhd1-e52e2re11001
          identificationNumber: 099999999a
          discretionaryData: AB
    pPDDetailRequest:
      required:
      - DFIAccountNumber
      - accountType
      - amount
      - checkDigit
      - creditDebitCode
      - individualName
      - receivingDFIId
      - transactionType
      - uuid
      type: object
      description: Parameters for additional details about the PPD request.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        accountType:
          type: string
          description: 'The account type can be checking (C) or savings (S). Valid values: C, S.'
          enum:
          - C
          - S
        creditDebitCode:
          type: string
          description: 'One-character field indicates if the ACH transaction is a credit (C) or debit (D). Valid values: C, D.'
          enum:
          - C
          - D
        transactionType:
          type: string
          description: 'Nacha-defined transaction types can be live (L), prenote (P), or zero (Z). Valid values: L, P, Z.'
          enum:
          - L
          - P
          - Z
        receivingDFIId:
          type: string
          description: The bank routing number (ABA number) of the receiving designated financial institution. The number can be a maximum of 8 digits.
          maxLength: 8
        checkDigit:
          type: string
          description: The final character of a routing number that can be used to validate a specific routing number. This is a single digit.
          maxLength: 1
        DFIAccountNumber:
          type: string
          description: The recipient account number at the designated financial institution. The account number can be a maximum of 17 characters.
          maxLength: 17
        amount:
          type: string
          description: The transaction amount in valid currency format. The amount can have up to 8 digits before the decimal and 2 digits after the decimal.
          maxLength: 11
        individualName:
          type: string
          description: The name of the individual. This cannot exceed 22 characters.
          maxLength: 22
        individualIdentificationNumber:
          type: string
          description: The ID number for the individual. This cannot exceed 15 characters.
          maxLength: 15
        discretionaryData:
          type: string
          description: Further identification of the company or used to describe the type of entries being processed. The ID can be a maximum of 2 characters.
          maxLength: 2
        addenda:
          type: array
          maxItems: 1
          description: List of addenda records.
          items:
            $ref: '#/components/schemas/baseAddendaRequest'
      example:
        DFIAccountNumber: '123456789'
        accountType: S
        amount: '0.00'
        checkDigit: '0'
        creditDebitCode: C
        individualName: QASTest011
        receivingDFIId: '04100103'
        transactionType: P
        uuid: qas22525-6fb5-undo0132001
        individualIdentificationNumber: 099999999
        paymentTypeCode: R
        addenda:
          paymentRelatedInformation: Undo WEB PAYMENT GOOD ITEM
    batchRequestEnvelopeBatchRequestPPDDetailRequest:
      required:
      - batch
      type: object
      properties:
        batch:
          description: Batch request components for ACH transaction by SEC code.
          $ref: '#/components/schemas/batchRequestPPDDetailRequest'
        customData:
          type: string
          description: The values for custom data is defined by the client. This free-form text field can contain up to 500 alphanumeric characters. Custom information stays with the transaction through its lifecycle.
          minLength: 0
          maxLength: 500
    batchRequestPPDDetailRequest:
      required:
      - collectionApplicationId
      - point
      - secCode
      - uuid
      - companyEntryDescription
      type: object
      description: Contains batch request details for a PPD transaction.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        point:
          type: string
          description: A short name specific to your company provided by KeyBank. This is included in the file name and improves security  for file transfers.
          maxLength: 9
          example: APITEST
        collectionApplicationId:
          type: string
          description: This ID is provided by KeyBank and cannot exceed the maximum of 9 alphanumeric characters.
          maxLength: 9
          example: TESTING
        collectionApplicationType:
          type: string
          description: A subset of the collection application parameters. This is not commonly used and by default, left blank. If there is a collection application type, the value is provided by KeyBank during onboarding and cannot exceed 6 characters.
          maxLength: 6
        secCode:
          type: string
          description: 'The three-digit Standard Entry Class code based on Nacha rules. Valid values: CCD, CTX, PPD, TEL, WEB.'
          maxLength: 3
          example: WEB
        effectiveDate:
          type: string
          description: 'The date the transaction is posted. This date must be within 31 days of the current date. Format: YYMMDD'
          maxLength: 6
          example: '220411'
        companyDescriptiveDate:
          type: string
          description: 'Company descriptive date. Format: YYMMDD'
          example: '220411'
        companyEntryDescription:
          type: string
          description: 'Provides the receiver a description of the payment purpose. The value cannot exceed 10 characters and cannot be blank. Possible values: ''REVERSAL'', ''RETURN FEE'', ''RECLAIM'', ''REDEPCHECK'' for RCK entries, ''HCCLAIMPMT'' for Health Care EFTs, or ''ACCTVERIFY'' for clients sending in a micro-entry as a type of ACH entry.'
          maxLength: 10
          example: Payroll
        details:
          type: array
          description: List of detail records.
          items:
            $ref: '#/components/schemas/pPDDetailRequest'
      example:
        collectionApplicationId: QASTEST01
        point: APITEST
        secCode: WEB
        uuid: qas22525-6fb5-438c-undo132000
        collectionApplicationType: ''
        effectiveDate: '220411'
        companyDescriptiveDate: '220411'
        companyEntryDescription: Payroll
        details:
          DFIAccountNumber: '123456789'
          accountType: S
          amount: '0.00'
          checkDigit: '0'
          creditDebitCode: C
          individualName: QASTest011
          receivingDFIId: '04100103'
          transactionType: P
          uuid: qas22525-6fb5-undo0132001
          individualIdentificationNumber: 099999999
          paymentTypeCode: R
          addenda:
            paymentRelatedInformation: Undo WEB PAYMENT GOOD ITEM
    batchRequestEnvelopeBatchRequestCCDDetailRequest:
      required:
      - batch
      type: object
      description: Contains the request payload for the submitted request.
      properties:
        batch:
          description: Batch request components for ACH transaction by SEC code.
          $ref: '#/components/schemas/batchRequestCCDDetailRequest'
        customData:
          type: string
          description: The values for custom data is defined by the client. This free-form text field can contain up to 500 alphanumeric characters. Custom information stays with the transaction through its lifecycle.
          minLength: 0
          maxLength: 500
    detailMessage:
      type: object
      description: Contains the code and message with details about the response.
      properties:
        code:
          type: string
          description: A static status code assigned by the network or payment system.
          example: 1006040-65I
        moreInfo:
          type: string
          description: Detailed descriptive message.
          example: Effective date assigned 220411
    telDetailRequest:
      type: object
      description: Parameters for additional details about the TEL request.
      required:
      - uuid
      - accountType
      - creditDebitCode
      - transactionType
      - receivingDFIId
      - checkDigit
      - DFIAccountNumber
      - amount
      - individualName
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        accountType:
          type: string
          description: 'The account type can be checking (C) or savings (S). Valid values: C, S.'
          enum:
          - C
          - S
        creditDebitCode:
          type: string
          description: 'One-character field indicates if the ACH transaction is a credit (C) or debit (D). Valid values: C, D.'
          enum:
          - C
          - D
        transactionType:
          type: string
          description: 'Nacha-defined transaction types can be live (L), prenote (P), or zero (Z). Valid values: L, P, Z.'
          enum:
          - L
          - P
          - Z
        receivingDFIId:
          type: string
          description: The bank routing number (ABA number) of the receiving designated financial institution. The number can be a maximum of 8 digits.
          maxLength: 8
        checkDigit:
          type: string
          description: The final character of a routing number that can be used to validate a specific routing number. This is a single digit.
          maxLength: 1
        DFIAccountNumber:
          type: string
          description: The recipient account number at the designated financial institution. The account number can be a maximum of 17 characters.
          maxLength: 17
        amount:
          type: string
          description: The transaction amount in valid currency format. The amount can have up to 8 digits before the decimal and 2 digits after the decimal.
          maxLength: 11
        individualIdentificationNumber:
          type: string
          description: The ID number for the individual. This cannot exceed 15 characters.
          maxLength: 15
        individualName:
          type: string
          description: The name of the individual. This cannot exceed 22 characters.
          maxLength: 22
        paymentTypeCode:
          type: string
          description: The code is a maximum of two characters. The code is two empty spaces if the code is not provided by the client.
          maxLength: 4
      example:
        DFIAccountNumber: '123456789'
        accountType: C
        amount: '5963.88'
        checkDigit: '0'
        creditDebitCode: D
        individualName: QASTest014
        receivingDFIId: '04100103'
        transactionType: L
        uuid: qas22523-f76-44eb-a7014041001
        individualIdentificationNumber: 099999999
        paymentTypeCode: R
    baseAddendaRequest:
      required:
      - paymentRelatedInformation
      type: object
      description: Contains payment related information.
      properties:
        paymentRelatedInformation:
          type: string
          description: The related payment information for the addenda records. The limit is 80 characters.
          maxLength: 80
          example: 'Test Addenda #1'
    acceptedAddendaResponseEnvelope:
      type: object
      description: Contains the response payload for the submitted request.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        status:
          type: string
          description: The overall status of the addenda request can be accepted or rejected.
          example: accepted
        traceNumber:
          type: string
          description: The unique number for the ACH transaction. Record this number for possible ACH inquiry requests.
          example: '41001030008011'
        informationMessages:
          type: array
          description: List of informational messages.
          items:
            $ref: '#/components/schemas/detailMessage'
        errorMessages:
          type: array
          description: List of error messages.
          items:
            $ref: '#/components/schemas/detailMessage'
        addenda:
          type: array
          description: List of addenda records.
          items:
            $ref: '#/components/schemas/addendaResponse'
        requestAcceptedUTCTime:
          type: string
          description: 'The date and time the request was accepted in UTC time. Format: YYYY-MM-DDTHH:MM:SSZ'
          example: '2022-05-25T16:33:46Z'
    webDetailRequest:
      required:
      - DFIAccountNumber
      - accountType
      - amount
      - checkDigit
      - creditDebitCode
      - individualName
      - receivingDFIId
      - transactionType
      - uuid
      type: object
      description: Parameters for additional details about the WEB request.
      properties:
        uuid:
          type: string
          description: A custom value used to identify each transaction. It is required to undo a payment. The ID must not exceed 45 alphanumeric characters.
          maxLength: 45
          example: qas220517x-49eb-47664-b94rhd1-e52e2re13001
        accountType:
          type: string
          description: 'The account type can be checking (C) or savings (S). Valid values: C, S'
          enum:
          - C
          - S
        creditDebitCode:
          type: string
          description: 'One-character field indicates if the ACH transaction is a credit (C) or debit (D). Valid values: C, D'
          enum:
          - C
          - D
        transactionType:
          type: string
          description: 'Nacha-defined transaction types can be live (L), prenote (P), or zero (Z). Valid values: L, P, Z'
          enum:
          - L
          - P
          - Z
        receivingDFIId:
          type: string
          description: The bank routing number (ABA number) of the receiving designated financial institution. The number can be a maximum of 8 digits.
          maxLength: 8
        checkDigit:
          type: string
          description: The final character of a routing number that can be used to validate a specific routing number. This is a single digit.
          maxLength: 1
        DFIAccountNumber:
          type: string
          description: The recipient account number at the designated financial institution. The account number can be a maximum of 17 characters.
          maxLength: 17
        amount:
          type: string
          description: The transaction amount in valid currency format. The amount can have up to 8 digits before the decimal and 2 digits after the decimal.
          maxLength: 11
        individualIdentificationNumber:
          type: string
          description: The ID number for the individual. This cannot exceed 15 characters.
          maxLength: 15
        individualName:
          type: string
          description: The name of the individual. This cannot exceed 22 characters.
          maxLength: 22
        paymentTypeCode:
          type: string
          description: The code is a maximum of two characters. The code is two empty spaces if the code is not provided by the client.
          maxLength: 4
        addenda:
          type: array
          maxItems: 1
          description: List of addenda records.
          items:
            $ref: '#/components/schemas/baseAddendaRequest'
    batchRequestCCDDetailRequest:
      required:
      - collectionApplicationId
      - point
      - secCode
      - uuid
      - companyEntryDescription
      type: object
      description: Contains the request parameters.
      properties:
[...]
